body {
  background-color: rgb(0, 29, 64);
  text-align: center;
  color: white;
}
.contenedor{
  background-image: url(../img/fondo.png);
}
.div1{
  width: 100vw;
  background-image: url(../img/P1/2.png);
  background-size: cover;
}
  